{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'foodyapp/restaurant_details.css' %}">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Restaurant Page</title>
</head>
<body>
{% if restaurant %}
<div>
<div>
    <h1>{{restaurant.name}}</h1>
    <p>{{restaurant.address}}</p>
</div>
    <div>
    <span><strong>Opens: </strong>{{restaurant.opening_time}}</span>
    <br>
    <span><strong>Closes: </strong>{{restaurant.closing_time}}</span>
    </div>
    {% if restaurant.menus %}
    <div>
        <h2>Menus:</h2>
        <ul>
            {% for menu in restaurant.menus.all %}
            <li>
                <a class="menu_link" href="{% url 'menu_details' menu.id %}">
                    <strong>{{menu.title}}</strong> (from {{menu.from_time}} to {{menu.to_time}})
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
</div>
{% endif %}
</body>
</html>